<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/Fragment/BootstrapHeader :: bootstrap(~{::title})}">
    <title>상품들</title>
</head>
<body>
    <div class="container w-50 py-5">
        <div>
            <a class="btn btn-primary btn-sm" th:href="@{/}">이전으로</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>상품 번호</th>
                    <th>이름</th>
                    <th>가격</th>
                    <th>상품 수량</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.itemId}"></td>
                    <td><a class="link-body-emphasis" th:href="@{/items/{itemCode}(itemCode=${item.itemCode})}"
                        th:text="${item.name}"></a></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.quantity}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>